.page__header {
  background-image: url(../graphics/layout/header-background.png);
  background-size: 100%;

  .header__content {
    text-align: center;
    padding: 32px;
  }

  h1 {
    margin-bottom: 32px;
    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.site__title {
  padding: 10px;
}

.inner {
  @extend .row, .row--centered;
}