.page__header {
  background-image: url(../graphics/layout/header-background.png);
  background-size: cover;
  background-position-y: center;

  .header__content {
    text-align: center;
    padding: 32px;
  }

  h1 {
    margin-bottom: 32px;
    > img {
      width: auto;
      height: 64px;
      max-width: 100%;
      vertical-align: top;
    }
  }
}

.inner {
  @extend .row, .row--centered;

  &-edit {
    max-width: 800px;
    margin: 50px auto 0px auto;
    padding-bottom: 50px;
  }
}

.page--location-view,
.page--location-edit {
  background-color: #fff;

  .header__content {
    text-align: left;
    padding-left: 0px;
  }

  .inner {
    padding-top: 50px;

    .row {
      padding: 0px;
    }
  }
}

.page--homepage .page__header {
  .inner {
    padding-top: 50px;
  }
}

.column, .filter-column {
  width: 100%;

  @include media(medium-up) {
    width: 300px;
  }
}

.callout-button {
  padding: 1rem;
  text-align: center;
  background: $primary-color;

  a {
    color: #fff;
  }
}
