.edit-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: rgb(240, 244, 247);
  padding: 20px;

  .page__title {
    font-size: 1.5rem;

    .location-id {
      font-size: 2rem;
    }
  }
}

.edit-box {
  border: 1px solid $base-color;
  margin-bottom: 20px;
}

.edit-box-toggle {
  padding: 5px 10px;
  background-color: $base-color;
  color: #fff;
}

.edit-box-content {
  padding: 10px;
}

.edit-box-delete {
  vertical-align: bottom;
  float: right;
  cursor: pointer;
}
