.form__fieldset {
  &--location {
    .form__legend {
      @extend .visually-hidden;
    }
  }

  &--parameters {
    margin-bottom: 3rem;
  }
}

.tooltip-button {
  margin-left: 0.8rem;
}

.tooltip-info {
  visibility: hidden;
  position: absolute;
  right: 0;
  bottom: 100%;
}

.tooltip:hover .tooltip-info {
  visibility: visible;
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid $base-color;
}

.tooltip-container {
  position: relative;
  display: flex;
  .form__control {
    display: flex;
  }
  .form__select {
    flex-grow: 1;
  }
}

.edit-box {
  .form__legend {
    color: $base-color;
  }
  .form__fieldset {
    padding-bottom: 0;
    box-shadow: none;
  }
  .form__label {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 0.857rem;
  }
  .form__option-group {
    @extend .clearfix;
    .form__option {
      float: left;
      width: 5rem;
      margin: 0 1rem 1rem 0;
    }
  }
  .form__actions {
    text-align: center;
    .button {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

input.form__control[type="checkbox"], input.form__control[type="radio"] {
  width: auto;
}

/* Form color modifiers
   ========================================================================== */

.form__control.select--base-bounded {
  background: none;
  box-shadow: inset 0 0 0 2px $base-color;
  color: $base-color;

  &:hover {
    background: none;
  }

  &:active {
    background: none;
  }
}

.form-field.error {
  margin-left: -10px;
  padding-left: 10px;
  background: rgba($danger-color, 0.30);
  padding-right: 10px;
  margin-right: -10px;

  .form__control {
    border: 2px solid $danger-color;
  }
}

.form-error-message {
  text-align: center;
  background-color: rgba($danger-color, 0.30);
  margin: 10px;
  margin: 10px auto;
  padding: 20px;
}

.required {
  color: $danger-color;
  margin-left: 5px;
}
