.location-detail-list {
  margin: 0px;
  padding: 0px;
  font-size: 20px;

  li {
    list-style-type: none;
  }
}

.location-tooltip {
  position: relative; 
  width: 150%;
}

.location-tooltip-button {
  float: left;
}

.location-tooltip-info {
  visibility: hidden;
  position: absolute;
  margin-left: 0.5rem;

}

.location-tooltip:hover .location-tooltip-info {
  visibility: visible;
  background-color: white;
  padding: 0.3rem 0.5rem;
  border: 1px solid $base-color;
}


.page__title {
  .location-id {
    display: block;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .location-name {
    display: block;
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .location-city {
    display: block;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

.location-view-section {
  margin-bottom: 50px;
}
