/* ==========================================================================
   Main
   ========================================================================== */

/**
 * Following Necolas' Principles of writing consistent, idiomatic CSS:
 * https://github.com/necolas/idiomatic-css
 */

/* Charset */

@charset "UTF-8";


/* Libraries
   ========================================================================== */

/**
 * Using Bourbon for extended SASS functionality:
 * http://bourbon.io/
 */

@import "bourbon";
@import "../../../../node_modules/tachyons-flexbox/css/tachyons-flexbox.css";
@import "../../../../node_modules/react-datepicker/src/stylesheets/datepicker.scss";
@import "../../../../node_modules/react-input-range/src/scss/index.scss";
@import "../../../../node_modules/mapbox-gl/dist/mapbox-gl.css";
@import "../../../../node_modules/@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css";
@import "../../../../node_modules/@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css";

/* Reboot
   ========================================================================== */

@import "normalize";
@import "reset";

/**
 * Using Kenneth Ormandy's OpenType features—ligatures, kerning, and
 * more—to Normalize.css:
 * https://github.com/kennethormandy/normalize-opentype.css
 */

@import "normalize-opentype";

/* Collecticons
   ========================================================================== */

@import "collecticons";

/* OpenAQ styles
   ========================================================================== */

@import "openaq-design-system";

/* Settings
   ========================================================================== */


/* Main
   ========================================================================== */

@import "base";
@import "folds";
@import "search";
@import "filter";
@import "tables";
@import "map";
@import "editor";
@import "locations";
@import "forms";
@import "pagination";
